<!-- views/email.hbs -->
<!DOCTYPE html>
<html>
<head>
  <title>Factura Pendiente de Aprobación</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
</head>
<body class="bg-gray-100 text-gray-900">
  <div class="max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg">
    <h1 class="text-2xl font-bold mb-4">Nueva Factura pendiente de aprobación</h1>
    <p>Datos de la Factura:</p>
    <p>Factura {{factura.id}}</p>
    <p>Fecha: {{factura.creado}}</p>
    <p>Sabores:</p>
    <ul class="list-disc pl-5 mb-4">
      {{#each productos}}
        <li>{{nombre_sabor}} - Cantidad: {{cantidad}}</li>
      {{/each}}
    </ul>
    <hr class="my-4">
    <p>Entrega:</p>
    <p>Entregar a: {{entrega.beneficiario}}</p>
    <p>Dirección: Calle {{entrega.calle}} #{{entrega.numero}} entre {{entrega.calle1}} Reparto {{entrega.reparto}}</p>
    <p>Referencia: {{entrega.p_referencia}}</p>
    <p>Teléfono: {{entrega.tel_beneficiario}}</p>
    <p>Enviado Por: {{entrega.ordenante}}</p>
    <p>Contacto: {{entrega.contacto_ordenante}}</p>
    <p>Observaciones: {{entrega.observaciones}}</p>
    <p class="font-bold">Total: {{grandTotalCobrar}} {{#if (eq factura.pasarela "CUP")}}CUP{{else}}USD{{/if}}</p>
    <a href="https://www.heladoscarol.com" class="text-blue-500 underline">www.heladoscarol.com</a>
  </div>
</body>
</html>
